{% extends "base.html" %}
{% load static %}
{% block content %}
    
<link rel="stylesheet" href="{% static 'home.css' %}">
<h1 style='text-align: center;'>Поръчки</h1>
<section>
    <div style='width: 70%; margin-left: 15%;'>
        {% for order in orders %}
            <div style='border: 1px solid black;'>
                <h3>ID на поръчка: {{ order.id }}</h3>
                <h3>Дата: {{ order.datetime }}</h3>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}