{% extends "base.html" %}
{% load static %}
{% block content %}
    
<link rel="stylesheet" href="{% static 'home.css' %}">
<section>
    <div class='products' style='justify-content: center;'>
        <div class='product'>
            {% if already_exists %}
                <h1 style='color: red;'>Този продукт вече го има в количката!</h1>
            {% endif %}
            <h3>{{ product.name }}</h3>
            <h1>{{ product.price }}лв</h1>
            <img src="{{ product.image_name.url }}" alt="{{ product.name }}">
            <p>{{ product.description }}</p>
            <div style='display: flex; justify-content: space-between;'>
                <a href="/removeProductFromCart/{{ product_cart_id }}/">Изтрий</a>
                <a href="/">Върни се</a>
            </div>
            
        </div>
    </div>
</section>

{% endblock content %}